{% extends 'base.html' %}
{% load static %}

{% block title %}Molex{% endblock %}

{% block stylesheet %}
    <link href="{% static 'css/about.css' %}?version=1" rel="stylesheet">
{% endblock %}

{% block content %}
        <ul id="sidenav-mobile" class="sidenav sidenav-fixed">
            {% include 'sidenavCategory.html' %}
        </ul>
        <div class="sidenav-padding">
            <div class="row padding-side padding-top">
                <div class="col s12 z-depth-2 about">
                    <h4>О нас</h4>
                    <h5>Местоположение</h5>
                    <h6>г.Биробиджан</h6>
                    <h5>Контактные данные</h5>
                    <h6>Телефон: 89241544424</h6>
                    <h6>Email: sergo79_f1@mail.ru</h6>
                    <a href="#"><h6>Вконтакте</h6></a>
                    <div class="description">
                        <p>Компания MOLEX это ваш надежный партнер в выборе цифровой техники.
                            С нашей помощью вы сможете приобрести смартфоны, персональные компьютеры, ноутбуки, планшеты, компьютерную периферию и многое другое.
                            Индивидуальный подход к каждому клиенту, то есть мы сможем подобрать вам технику под практически любой бюджет.<br><br>
                            Почему стоит выбрать именно MOLEX?</p>
                        <ul>
                            <li>Дешевле чем в магазине</li>
                            <li>Индивидуальный подход</li>
                            <li>Подбор техники под определенные цели с наименьшими затратами</li>
                            <li>Гарантия на технику</li>
                            <li>Быстрая доставка</li>
                        </ul>
                        <p>Если у вас есть вопросы или нужна консультация напишите нам </p>
                        <div class="col s6 offset-s3 m6">
                            <a class="btn red darken-1">Написать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}

{% block script %}
{% endblock %}