{% extends 'base.html' %}
{% load static %}

{% block title %}О нас{% endblock %}

{% block stylesheet %}
    <link href="{% static 'css/about_v2.css' %}?version=1" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="col s12 z-depth-1 about-card">
                    <div class="col s6 offset-s3">
                        <img class="responsive-img circle" src="{% static 'img\Example.jpg' %}">
                    </div>
                    <div class="col s12">
                        <ul>
                            <li>Пункт</li>
                            <li>Пункт</li>
                            <li>Пункт</li>
                            <li>Пункт</li>
                            <li>Пункт</li>
                        </ul>
                    </div>
                    <div class="col s8 offset-s2">
                        <a class="waves-effect waves-light btn-large btn-full-width red darken-1">Заказать</a>
                    </div>
                </div>
           </div>
            <div class="col s12 m6 l4">
                <div class="col s12 z-depth-1 about-card">
                    <div class="col s6 offset-s3">
                        <img class="responsive-img circle" src="{% static 'img\Example.jpg' %}">
                    </div>
                    <div class="col s12">
                        <ul>
                            <li>Пункт</li>
                            <li>Пункт</li>
                            <li>Пункт</li>
                            <li>Пункт</li>
                            <li>Пункт</li>
                        </ul>
                    </div>
                    <div class="col s8 offset-s2">
                        <a class="waves-effect waves-light btn-large btn-full-width red darken-1">Заказать</a>
                    </div>
                </div>
           </div>
            <div class="col s12 m6 l4">
                <div class="col s12 z-depth-1 about-card">
                    <div class="col s6 offset-s3">
                        <img class="responsive-img circle" src="{% static 'img\Example.jpg' %}">
                    </div>
                    <div class="col s12">
                        <ul>
                            <li>Пункт</li>
                            <li>Пункт</li>
                            <li>Пункт</li>
                            <li>Пункт</li>
                            <li>Пункт</li>
                        </ul>
                    </div>
                    <div class="col s8 offset-s2">
                        <a class="waves-effect waves-light btn-large btn-full-width red darken-1">Заказать</a>
                    </div>
                </div>
           </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
{% endblock %}