{% extends 'base.html' %}
{% load static %}
{% load products_extra %}

{% block title %}Molex{% endblock %}


{% block content %}
        <ul id="sidenav-mobile" class="sidenav sidenav-fixed">
            {% include 'sidenavCategory.html' %}
        </ul>
        <div class="sidenav-padding">
            <div class="row index-carousel-padding no-margin">
                <div class="col s12 no-padding index-carousel">
    `               <div id="index" class="carousel carousel-slider center">
                        <div class="carousel-fixed-item with-indicators">
                          <a id="left" class="btn-floating btn-large waves-effect transparent white-text left z-depth-0"><i class="large material-icons">chevron_left</i></a>
                          <a id="right" class="btn-floating btn-large waves-effect transparent white-text right z-depth-0"><i class="large material-icons">chevron_right</i></a>
                        </div>
                        {% for image in carouselImg %}
                        <div class="carousel-item">
                            <img src="{{ image.image.url }}">
                        </div>
                        {% endfor %}
                      </div>
                </div>
            </div>
            <div class="row padding-side best-offer">
                <div class="col s12 no-padding">
                    <h4>Лучшие предложения</h4>
                    <div class="divider"></div>
                </div>
                {% if devices is not None %}
                    {% for device in devices %}
                        <div class="col s12 m4 xl3">
                            <div class="card">
                                <a href="/products/{{ device.category.getFullSlug }}/id/{{ device.id }}/">
                                    <div class="card-image">
                                        <img src="{{ device|get_first_image }}">
                                    </div>
                                    <div class="card-content">
                                        <p>{{ device|get_children:device.category.slug }}</p>
                                    </div>
                                    <div class="card-action">
                                        <div class="card-price">{{ device.price }} р.</div>
                                        <div class="card-buy"><i class="material-icons">shopping_cart</i><span>Купить</span></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
{% endblock content %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/index.js' %}?version=2"></script>
{% endblock %}