{% extends 'base.html' %}
{% load static %}
{% load products_extra %}

{% block title %}{{ category.name }}{% endblock %}

{% block stylesheet %}
    <link href="{% static 'css/filter.css' %}?version=3" rel="stylesheet">
    <link href="{% static 'css/category.css' %}?version=3" rel="stylesheet">
{% endblock %}

{% block content %}
    <ul id="sidenav-mobile" class="sidenav sidenav-fixed">
        <div id="sidenav-category"  style="display: none">
        {% include 'sidenavCategory.html' %}
        </div>
        <div id="sidenav-filter">
            {% include 'filter.html' %}
        </div>
    </ul>
    <div class="sidenav-padding category">
        <div class="row padding-side">
            <div class="col s12 l8">
                <h4 class="title">{{ category.name }}</h4>
            </div>
            <div class="col s12 l4 filter-apply">

            </div>
            <div class="col s12">
                <div class="divider"></div>
            </div>
        </div>
        <div class="row padding-side">
            <div class="col s12 xl10 offset-xl1">
                <div class="row sort">
                    <span>Сортировка: </span>
                    <a id="price" class="sort-item" onselectstart="return false" onmousedown="return false">цена<i class="material-icons"></i></a>
                    <a id="name" class="sort-item" onselectstart="return false" onmousedown="return false">название<i class="material-icons"></i></a>
                    <a id="instock" class="sort-item" onselectstart="return false" onmousedown="return false">наличие<i class="material-icons"></i></a>
                </div>
                <div id="list-container" class="row">
                    <div id="list">
                        {% for device in device_list %}
                            <a href="/products/{{ device.category.getFullSlug }}/id/{{ device.id }}/" class="col s12 no-padding category-item"
                               data-price="{{ device.price }}" data-name="{{ device }}" data-instock="{% if device.count > 0 %}1{% else %}0{% endif %}">
                                <div class="row no-margin top-line">
                                    <div class="col s3  m2 no-padding img">
                                        <img src="{{ device.imagePreview.url }}" class="responsive-img">
                                    </div>
                                    <div class="col s9 m8 header">
                                        {{ device }}
                                    </div>
                                    <div class="col s9 m2 price">
                                        {{ device.price }} Р.
                                    </div>
                                </div>
                                <div id="mask"></div>
                                <div class="col s12 m10 params">
                                    {{ device.getShortenParams }}
                                </div>
                                <div class="col s12 right-align in-stock">
                                    {% if device.count > 0 %}
                                    В наличии
                                    {% else %}
                                    Под заказ 30д.
                                    {% endif %}
                                </div>

                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/filters.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sort.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.category .category-item').hover(function () {
                $(this).find('#mask').stop().animate({opacity: 0.05}, 100);
            }, function () {
                $(this).find('#mask').stop().animate({opacity: 0}, 100);
            });
            if ($(window).width() > 600)
                $('.category .category-item .top-line').removeClass('row');
            else
                $('.category .category-item .top-line').addClass('row');
        })
    </script>
{% endblock %}