.about-card {
    background: url("../img/Pattern1.jpg") repeat;
    padding: 20px !important;
    margin-top: 30px;
}
.about-card h5 {
    width: 100%;
    text-align: center;
}
.about-card ul:not(.browser-default)>li {
    list-style: circle inside;
}
.about-card ul>li {
    list-style: disc inside;
}
.about-card a.btn-large{
    margin-top: 20px;
}