.cart-container {
    margin-top: 15px;
}
.cart-container .cart-item {
    border: 1px solid #dadada;
    position: relative;
    margin-top: -1px;
    padding: 5px 0;
    min-height: 150px;
}

.cart-container .cart-item .image {
    margin-top: 2px;
}
.cart-container .cart-item .header {
    font-size: 26px;
    padding-bottom: 18px;
}
.cart-container .cart-item .header > a {
    color: #e53935;
}
.cart-container .cart-item .price {
    font-size: 22px;
    text-align: right;
    margin-top: 4px;
}
.cart-container .cart-item .price .extra {
    font-size: 16px;
    margin-top: -5px;
}
.input-field.no-margin {
    margin-top: 0;
    margin-bottom: 0;
}
.cart-container .cart-item .no-margin.row {
    margin-bottom: 0;
}
.cart-container .cart-item #delete {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 60px;
    padding: 0;
}
.cart-container .cart-item .count {
    position: absolute;
    right: 10px;
    bottom: 60px;
    border: 1px solid #949494;
    border-radius: 10px;
    height: 20px;
    width: 60px;
}
.cart-container .cart-item .count > a {
    position: absolute;
    top: 0;
    padding-bottom: 2px;
    padding-top: -10px;
    height: 100%;
    width: 20px;
    font-size: 22px;
    text-align: center;
    color: #e53935;
}
.cart-container .cart-item .count > a > i {
    position: absolute;
    top: 0;
    font-size: 20px;
    line-height: 100%;
    height: 100%;
}
.cart-container .cart-item .count > a.remove > i {
    left: 0;
}
.cart-container .cart-item .count > a.add > i {
    right: 0
}
.cart-container .cart-item .count > .remove {
    left: 0;
}
.cart-container .cart-item .count > .add {
    right: 0;
}
.cart-container .cart-item .count > input {
    height: 100%;
    width: 20px;
    position: absolute;
    top: 0;
    left: 20px;
    text-align: center;
    font-size: 16px;
}
.cart-container .cart-item .color {
    margin-top: 10px;
}
.cart-container .cart-item .options {
    margin-top: 10px;
}
#cart-total .total-price {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .cart-container .cart-item .header {
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 0;
    }
    .cart-container .cart-item .price {
        text-align: left;
        font-size: 20px;
        font-weight: 500;
    }
    .cart-container .cart-item .price .extra {
        font-size: 14px;
    }
}