.category .filter-apply {
    font-size: 18px;
    color: #e53935;
    font-weight: 500;
    margin-top: 30px;
    text-align: right;
}
.category .sort span {
    margin-right: 5px;
}
.category .sort a.sort-item {
    cursor: pointer;
}
.category .sort .sort-item i {
    line-height: 16px;
    position: relative;
    top: 8px;
    margin-right: 5px;
    display: inline;
}
.category .category-item .responsive-img {
    padding: 5px 15px 0;
}
.category .category-item {
    background-color: #ffffff;
    position: relative;
    margin-top: -1px;
    border: 1px solid #e0e0e0;
}
.category .category-item .row.top-line {
    width: 100%;
}
.category .category-item #mask {
    background-color: #212121;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}
.category .category-item .header {
    color: #424242;
    font-weight: 500;
    font-size: 20px;
    padding-top: 5px;
}
.category .category-item .price {
    padding-top: 5px;
    padding-right: 15px;
    color: #616161;
    font-weight: 500;
    font-size: 20px;
    text-align: right;
}
.category .category-item .params {
    color: #616161;
    padding-top: 10px;
}
.category .category-item .in-stock {
    color: #616161;
    padding-top: 5px;
}
@media only screen and (max-width: 1200px) {
    .category .category-item .responsive-img {
        padding: 5px 15px 0;
    }
}
@media only screen and (max-width: 992px) {
    .category .category-item .price {
        font-size: 18px;
    }
}
@media only screen and (max-width: 600px) {
    .category .filter-apply {
        font-size: 16px;
        margin-top: 0;
    }
    .category .sort .sort-item i {
        margin-right: 0;
    }
    .category .sort .sort-item {
        margin-left: 5px;
    }
    .category .category-item .responsive-img {
        padding: 5px;
    }

    .category .category-item .header {
        padding-top: 5px;
        padding-left: 10px;
        font-size: 18px;


    }
    .category .category-item .price {
        padding-top: 5px;
        padding-left: 10px;
        font-size: 16px;
        text-align: left;
    }
    .category .category-item .params {
        padding: 2px 8px;
        font-size: 12px;

    }
    .category .category-item .in-stock {
        font-size: 12px;
        padding: 2px 8px;

    }
    .category .title {
        font-size: 22px;
    }


}