.order-list .order-item {
    border: 1px solid #bdbdbd;
    margin-top: -1px;
    padding: 10px;
}
.order-list .order-item .header {
    font-size: 24px;
    font-weight: 500;
}
.order-list .order-item .header > a{
    color: #e53935;
}
.order-list .order-item .processed {
    font-size: 18px;
    font-weight: 500;
}
.order-list .order-item .header > a.completed{
    color: #388e3c;
}
.order-list .order-item .order-payment-amount {
    font-size: 24px;
    font-weight: 500;

}
.order-list .order-item .device-item {
    border: 1px solid #e53935;
    padding: 5px;
    margin-top: -1px;
}
.order-list .order-item .device-list .counter {
    font-size: 24px;
    padding-top: 10px;
}
.order-list .order-item .device-item .header {
    font-size: 20px;
    font-weight: 500;
    color: #e53935;
}
.order-list .order-item .device-item .price {
    font-size: 20px;
    font-weight: 500;
}
.order-list .order-item #device-show {
    cursor: pointer;
}
.order-list .order-item .row {
    margin-bottom: 5px;
}
.order-list .order-item .person-data {
    font-size: 18px;
}