.hide {
    display: none;
}
.show-med-down {
    display: none;
}
.margin-top {
    margin-top: 30px;
}
.col.full-height {
    height: 100%;
    min-height: 100%;
}
.row.no-margin {
    margin: 0;
}
.nav-logo {
    height: 80px;
    margin-top: -8px;
    padding-left: 15px;
}
.nav-wrapper li.logo {
    line-height: 64px;
    height:  64px;
    overflow-y: hidden;
}

.nav-wrapper li.logo a {
    line-height: 64px;
    overflow-y: hidden;
}
.row.padding-top {
    margin-top: 20px;
}
.nav-wrapper {
    padding: 0 calc(calc(100vw - 1300px) / 2) 0 300px;
}
.sidenav-padding {
      padding: 0 calc(calc(100vw - 1300px) / 2) 0 300px;
    }

.row-padding {
    padding: 10px 0;
}
.padding-side{
    padding: 0 20px;
}

.btn-full-width {
    width: 100%;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*******************************/
/*******************************/
/******       Category      ****/
/*******************************/

.category .category-item {
    height: 125px;
    padding: 5px !important;
}
.category .collection-item > .responsive-img {
    height: 100%;
    width: auto;
    float: left;
}
.category .collection-item > .header {
    font-size: 28px;
    padding: 10px 10px 10px 10px;
    position: relative;
    display: inline-block;
}
.category .collection-item > p {
    font-size: 16px;
    color: #323232;
    padding: 0 10px 10px 125px;
    position: relative;
}
.category .collection-item > .price {
    position: relative;
    top: 0;
    right: 0;
    padding: 15px;
    font-size: 24px;
    display: inline-block;
    float: right;
}

/*******************/
/* sidenav category */
/*******************/

.sidenav .collapsible-header {
    padding: 0 32px;
}
.sidenav .collapsible-body li a{
    padding: 0 23.5px 0 47px;
}
.sidenav-top {
    height: 64px;
    line-height: 64px !important;
}
.sidenav-category {
    font-size: 24px !important;
    height: 64px !important;
    font-weight: bold;
    padding-left: 32px;
    color: #f2f2f2;

}
.sidenav .buttons .btn {
    width: 100%;
}
.sidenav.sidenav-fixed .footer {
    width: 100%;
    position: absolute;
    bottom: 50px;
    height: 50px;
    text-align: center;
    color: #bdbdbd;
}

/***********/
/* best regard card */
/***********/

.card {
    position: relative;
    color: #e53935 !important;
}
.card-buy {
    position: absolute;
    right: 10px;
    bottom: 5px;
    color: #e53935;
}
.card-price {
    position: absolute;
    bottom:5px;
    left:10px;
    font-size: 18px;
    color: #e53935
}
.card-buy > span {
    font-size: 18px;
    vertical-align: top;
}
.card-buy > i {
    font-size: 20px;
    margin-top: 4px;
}
.card .card-action {
    padding: 20px 15px;
}
.card .card-content {
    padding: 10px 10px;
    font-size: 18px;
    color: #292929;
}

/*******************************/
/******* Order *****************/

.order p {
    font-size: 18px;
}
.order #list.divider {
    margin-top: 20px;
}
.order .order-item {
    border: 1px solid #bdbdbd;
    padding: 5px;
    margin-top: -1px;
}
.order .order-item .header {
    color: #e53935;
    font-size: 20px;
    font-weight: 500;
}
.order .order-item .price {
    font-size: 20px;
    font-weight: 500;
}
.order .total-price {
    font-size: 24px;
    font-weight: 500;
    margin-top: 3px;
}
/**********************************/
/******** confirm order ***********/
.order-confirm .order-accept {
    margin-top: 50px;
}
.order-confirm .btn-main {
    margin-top: 30px;
}
/***********************************/
/*********** order list ************/
.order-list .order-item {
    border: 1px solid #bdbdbd;
    margin-top: -1px;
    padding: 10px;
}
.order-list .order-item .header {
    font-size: 24px;
    font-weight: 500;
}
.order-list .order-item .header > a{
    color: #e53935;
}
.order-list .order-item .processed {
    font-size: 18px;
    font-weight: 500;
}
.order-list .order-item .header > a.completed{
    color: #388e3c;
}
.order-list .order-item .order-payment-amount {
    font-size: 24px;
    font-weight: 500;

}
.order-list .order-item .device-item {
    border: 1px solid #e53935;
    padding: 5px;
    margin-top: -1px;
}
.order-list .order-item .device-list .counter {
    font-size: 24px;
    padding-top: 10px;
}
.order-list .order-item .device-item .header {
    font-size: 20px;
    font-weight: 500;
    color: #e53935;
}
.order-list .order-item .device-item .price {
    font-size: 20px;
    font-weight: 500;
}
.order-list .order-item #device-show {
    cursor: pointer;
}
.order-list .order-item .row {
    margin-bottom: 5px;
}
.order-list .order-item .person-data {
    font-size: 18px;
}
/**********************************/
/******** about ********************/
.about.col {
    padding: 50px;
}
.about .description {
    padding-top: 20px;
    padding-left: 40px;
}
.about .description ul {
    padding-left: 20px;
    font-size: 20px;
}
.about .description ul>li {
    list-style: disc inside;
}
.about p {
    font-size: 20px;
}
.about h5 {
    padding-left: 15px;
    font-size: 26px;
}
.about h6 {
    padding-left: 40px;
    font-size: 20px;

}

@media only screen and (max-width: 992px) {
    .nav-logo {
        height: 70px;
        margin-top: 0;
        padding-left: 0;
    }
    .nav-wrapper {
        padding: 0;
    }
    .sidenav {
        top: 0;
    }

    .sidenav-padding {
        padding: 0;
      }
    .show-med-down {
        display: block;
    }
}
@media only screen and (max-width: 600px) {
    .nav-wrapper ul.right li {
        width: 50px;
    }
    /*****************************/
    /*****Category ****************/

    .category .category-item {
        height: 100px;
        padding: 5px !important;
        text-overflow: clip;
    }
    .category .collection-item > .responsive-img {
        height: 100%;
        width: auto;
        float: left;
    }
    .category .collection-item > .header {
        font-size: 20px;
        padding: 5px 10px 5px 10px;
        position: relative;
        display: inline-block;
    }
    .category .collection-item > p {
        font-size: 14px;
        color: #323232;
        padding: 0 10px 0 0;
        margin: 0;
        position: relative;
        float: top;
    }
    .category .collection-item > .price {
        position: relative;
        top: 0;
        right: 0;
        padding: 5px;
        font-size: 18px;
        display: inline-block;
        float: right;
    }

    .nav-wrapper {
        padding: 0;
    }
    .product-panel-btn {
        padding-top: 10px !important;
    }
    .product-price {
        margin-top: 30px;
    }
    .nav-logo {
        height: 70px;
        margin-top: -8px;
        margin-left: -8px;
        padding-left: 0px;
    }
    .nav-wrapper li.logo {
        line-height: 55px;
        height:  55px;
        overflow-y: hidden;
    }

    .nav-wrapper li.logo a {
        line-height: 55px;
        width: 80px;
        overflow-y: hidden;
    }
    .nav-wrapper .top-nav.sidenav-trigger {
        margin: 0;
    }
}