{% load static %}
<nav>
    <div class="nav-wrapper red darken-1">
        <ul class="left">
            <li><a href="#" data-target="sidenav-mobile" class="top-nav sidenav-trigger full hide-on-large-only"><i class="material-icons">menu</i></a></li>
            <li class="logo"><a href="/"><img class="nav-logo" src="{% static 'img/MxLogo.png' %}" ></a></li>
            <li><a href="/about/">О нас</a></li>
        </ul>

        {% if user.is_authenticated %}
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if user.is_superuser %}
                <li class="icon"><a href="/products/orders/"><i class="material-icons left">assignment</i></a></li>
                <li class="icon"><a href="/admin/"><i class="material-icons left">star</i></a></li>
            {% endif %}
            <li><a id="nav-cart-text" name="cart"><i class="material-icons left">shopping_cart</i>Корзина</a></li>
        </ul>
        <ul id="nav-mobile" class="right show-med-down">
            {% if user.is_superuser %}
                <li><a href="/products/orders/"><i class="material-icons left">assignment</i></a></li>
                <li><a href="/admin/"><i class="material-icons left">star</i></a></li>
            {% endif %}
            <li><a id="nav-cart" name="cart"><i class="material-icons left">shopping_cart</i></a></li>
        </ul>
        {% else %}
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a id="nav-cart-text" name="cart"><i class="material-icons left">shopping_cart</i>Корзина</a></li>
        </ul>
        <ul id="nav-mobile" class="right show-med-down">
            <li><a id="nav-cart" name="cart"><i class="material-icons left">shopping_cart</i>Корзина</a></li>
        </ul>
        {% endif %}
    </div>
</nav>