<li id="0" class="sidenav-top red darken-1  z-depth-1"><span class="sidenav-category">Категории</span></li>
{% if category is not None %}
    <li class="buttons">
      <div class="row">
          <div class="col s8 offset-s2">
              <a id="openFilters" class="waves-effect waves-light btn red darken-1">
                Фильтр
              </a>
          </div>
      </div>
    </li>
{% endif %}
<li class="category-list">
    <ul>
        <li class="category-item">
            <div class="header">Смарт устройства</div>
            <ul class="sub-category">
                <li><a href="/products/smart/smartphone/" class="sub-category-item btn transparent waves-effect waves-red z-depth-0 grey-text text-darken-2">Смартфоны</a></li>
                <li><a href="/products/smart/tablet/" class="sub-category-item btn transparent waves-effect waves-red z-depth-0 grey-text text-darken-2">Планшеты</a></li>
            </ul>
        </li>
        <li class="category-item">
            <div class="header">Компьютеры</div>
            <ul class="sub-category">
                <li><a href="/products/computer/fixed-pc/" class="sub-category-item btn transparent waves-effect waves-red z-depth-0 grey-text text-darken-2">Стационарные ПК</a></li>
                <li><a href="/products/computer/laptop/" class="sub-category-item btn transparent waves-effect waves-red z-depth-0 grey-text text-darken-2">Ноутбуки</a></li>
            </ul>
        </li>
        <li class="category-item">
            <div class="header">Переферия</div>
            <ul class="sub-category">
                <li><a href="/products/peripherals/mouse/" class="sub-category-item btn transparent waves-effect waves-red z-depth-0 grey-text text-darken-2">Мыши</a></li>
                <li><a href="/products/peripherals/mousepad/" class="sub-category-item btn transparent waves-effect waves-red z-depth-0 grey-text text-darken-2">Коврики для мыши</a></li>
                <li><a href="/products/peripherals/keyboard/" class="sub-category-item btn transparent waves-effect waves-red z-depth-0 grey-text text-darken-2">Клавиатуры</a></li>
                <li><a href="/products/peripherals/headphone/" class="sub-category-item btn transparent waves-effect waves-red z-depth-0 grey-text text-darken-2">Наушники</a></li>
            </ul>
        </li>
        <li class="category-item">
            <div class="header">Комплектующие</div>
            <ul class="sub-category">
                <li><a href="/products/parts/cpu/" class="sub-category-item btn transparent waves-effect waves-red z-depth-0 grey-text text-darken-2">Процессоры</a></li>
                <li><a href="/products/parts/motherboard/" class="sub-category-item btn transparent waves-effect waves-red z-depth-0 grey-text text-darken-2">Материнские платы</a></li>
                <li><a href="/products/parts/ram/" class="sub-category-item btn transparent waves-effect waves-red z-depth-0 grey-text text-darken-2">Оперативная память</a></li>
                <li><a href="/products/parts/graphic-card/" class="sub-category-item btn transparent waves-effect waves-red z-depth-0 grey-text text-darken-2">Видеокарты</a></li>
                <li><a href="/products/parts/ssd/" class="sub-category-item btn transparent waves-effect waves-red z-depth-0 grey-text text-darken-2">SSD</a></li>
            </ul>
        </li>
    </ul>
</li>
<li class="footer">
    Make by FellowCode Powered by Django
</li>